@model mentalgrocery.Models.CanoesKayaktsList

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start domar_breadcrumb section -->
<section class="domar_breadcrumb bg_image" style="background-image: url(/assets/images/canoe2.jpg);">
    <div class="bg_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_content text-center">
                    <h2>@Html.DisplayFor(model => model.ckName)</h2>
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="active"><a href="@Url.Action("Index","CanoesKayaktsLists")">Canoes Kayakts Groups</a></li>
                        <li class="active">@Html.DisplayFor(model => model.ckName)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!-- End domar_breadcrumb section -->

<section class="domar_contact contact_v1 section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" align="center"  style="margin-bottom:20px">
                @if (Model.ckEmbedLink != "null")
                {
                    <iframe src="@Html.DisplayFor(model=>model.ckEmbedLink)" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                }
                else
                {
                    <h2>Sorry, we cannot find the location for you, you can try to contact this group.</h2>
                }
            </div>
        </div>
        <div class="contact_form">
            <form>
                <div class="row">
                    <div class="col-lg-6">
                        <table class="table table-bordered">
                            <th>Group Name</th>
                            <tr>
                                <td>@Html.DisplayFor(model => model.ckName)</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6">
                        <table class="table table-bordered">
                            <th>Suburb</th>
                            <tr>
                                <td>@Html.DisplayFor(model => model.ckSuburb)</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6">
                        <table class="table table-bordered">
                            <th>Postcode</th>
                            <tr>
                                <td>@Html.DisplayFor(model => model.ckPostCode)</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6">
                        <table class="table table-bordered">
                            <th>Address</th>
                            <tr>
                                <td>@Html.DisplayFor(model => model.ckAddress)</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6">
                        <table class="table table-bordered">
                            <th>LGA</th>
                            <tr>
                                <td>@Html.DisplayFor(model => model.ckLGA)</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-6">
                        <table class="table table-bordered">
                            <th>Region</th>
                            <tr>
                                <td>@Html.DisplayFor(model => model.ckRegion)</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="domar_box text-center">
                    <div class="domar_icon">
                        <i class="fab fa-internet-explorer"></i>
                    </div>
                    <div class="domar_info">
                        <h5>Website</h5>
                        @if (Model.ckWeb == "null")
                        {
                            <p>Sorry, this group has no website.</p>
                        }
                        else
                        {
                            <p>
                                @Html.DisplayFor(model => model.ckWeb)
                            </p>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="domar_box text-center">
                    <div class="domar_icon">
                        <i class="fas fa-mobile-alt"></i>
                    </div>
                    <div class="domar_info">
                        <h5>Phone</h5>
                        @if (Model.ckPhone == "null")
                        {
                            <p>Sorry, this group has no contact number.</p>
                        }
                        else
                        {
                            <p>
                                @Html.DisplayFor(model => model.ckPhone)
                            </p>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="domar_box text-center">
                    <div class="domar_icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="domar_info">
                        <h5>Email</h5>
                        @if (Model.ckEmail == "null")
                        {
                            <p>Sorry, this group has no email.</p>
                        }
                        else
                        {
                            <p>
                                @Html.DisplayFor(model => model.ckEmail)
                            </p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

