@model mentalgrocery.Models.CanoesKayaktsList

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start domar_breadcrumb section -->
<section class="domar_breadcrumb bg_image" style="background-image: url(/assets/images/canoe2.jpg);">
    <div class="bg_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_content text-center">
                    <h2>@Html.DisplayFor(model => model.ckName)</h2>
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="active"><a href="@Url.Action("Index","CanoesKayaktsLists")">Canoes Kayakts Groups</a></li>
                        <li class="active">@Html.DisplayFor(model => model.ckName)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!-- End domar_breadcrumb section -->

<section class="domar_contact contact_v1 section_padding">
    <div class="container">

        <div class="contact_form">
            <form>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form_group">
                            <p>Group Name</p>
                            <input type="text" class="form_control" value="@Html.DisplayFor(model => model.ckName)" name="ckName" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form_group">
                            <p>Suburb</p>
                            <input type="text" class="form_control" value="@Html.DisplayFor(model => model.ckSuburb)" name="ckSuburb" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form_group">
                            <p>Postcode</p>
                            <input type="text" class="form_control" value="@Html.DisplayFor(model => model.ckPostCode)" name="ckPostCode" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form_group">
                            <p>State</p>
                            <input type="text" class="form_control" value="@Html.DisplayFor(model => model.ckState)" name="ckState" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form_group">
                            <p>LGA</p>
                            <input type="text" class="form_control" value="@Html.DisplayFor(model => model.ckLGA)" name="ckLGA" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form_group">
                            <p>Region</p>
                            <input type="text" class="form_control" value="@Html.DisplayFor(model => model.ckRegion)" name="ckRegion" readonly>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="domar_box text-center">
                    <div class="domar_icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="domar_info">
                        <h5>address</h5>
                        <p>
                            @Html.DisplayFor(model => model.ckAddress)
                            <br>
                            @Html.DisplayFor(model => model.ckSuburb)
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="domar_box text-center">
                    <div class="domar_icon">
                        <i class="fas fa-mobile-alt"></i>
                    </div>
                    <div class="domar_info">
                        <h5>Phone</h5>
                        <p>
                            @Html.DisplayFor(model => model.ckPhone)
                            <br /> &nbsp;
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="domar_box text-center">
                    <div class="domar_icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="domar_info">
                        <h5>Email</h5>
                        <p>
                            @Html.DisplayFor(model => model.ckEmail)
                            <br />&nbsp;
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

