<!DOCTYPE html>
<html>
<head>
    <!-- all meta -->
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Page Title -->
    <title></title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="/image/png">
    <!-- All css here -->
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/assets/plugin/bootstrap/css/bootstrap.min.css">
    <!-- fontaweosme css -->
    <link rel="stylesheet" href="/assets/fonts/fontawesome/css/all.css">
    <!-- Flaticon css -->
    <link rel="stylesheet" href="/assets/fonts/flaticon/flaticon.css">
    <!-- slick slider css -->
    <link rel="stylesheet" href="/assets/plugin/slick/slick.css">
    <link rel="stylesheet" href="/assets/plugin/slick/slick-theme.css">
    <!-- magnific css -->
    <link rel="stylesheet" href="/assets/plugin/magnific/magnific-popup.css">
    <!-- jquery-ui css -->
    <link rel="stylesheet" href="/assets/plugin/jquery_ui/jquery-ui.css">
    <!-- nice_select css -->
    <link rel="stylesheet" href="/assets/plugin/nice_select/nice-select.css">
    <!-- nice_select css -->
    <link rel="stylesheet" href="/assets/plugin/sidebar_menu/sidebar-menu.css">
    <!-- Style css -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <link rel="shortcut icon" href="/assets/images/Mental_Grocery.ico" type="image/x-icon">
    <style type="text/css">
        hr.style-one {
            width: 80%;
            margin: 0 auto;
            border: 0;
            height: 4px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        }

        #text-area {
            background-image: url("/assets/images/Together.jpg");
            background-position: center 0;
            background-repeat: no-repeat;
            background-attachment: initial;
            background-size: cover;
        }
    </style>
</head>
<body>
    <!-- Start search wrapper -->
    <div class="search_wrapper">
        <a href="#" class="close_link"><i class="fas fa-times"></i></a>
        <form>
            <input type="text" class="form_control" placeholder="search here">
        </form>
    </div>
    <!-- End search wrapper -->
    <!-- Start preloader area -->
    @*<div class="preloader_area">
            <div class="spinner">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
                <div class="line4"></div>
                <div class="line5"></div>
                <div class="line6"></div>
                <div class="line7"></div>
            </div>
        </div>*@
    <!-- End preloader area -->
    <div class="header_top_bar">
        <div class="container">
            <!--<div class="row">
                <div class="col-lg-6">
                    <div class="top_left">
                        <a href="tel:123456789"><i class="fas fa-phone-alt"></i>Call us at 123-456-789</a>
                        <a href="mailto:Demo@Exmoplgain.com"><i class="fas fa-envelope"></i>Demo@Exmoplgain.com</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="top_right">
                        <p><a href="#">login</a>/<a href="#">Register</a></p>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    <!-- Start header_area area -->
    <header class="header_area header_v1">
        <div class="container">
            <div class="site_menu">
                <div class="row align-items-center">
                    <div class="col-lg-2">
                        <div class="site_logo">
                            <a href="@Url.Action("Index","Home")"><img src="/assets/images/logo_mental_1.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="primary_menu">
                            <nav class="main_menu">
                                <ul>
                                    <li>
                                        <a href="@Url.Action("Index","Home")">Home</a>
                                        <!--<ul class="sub-menu">
            <li><a href="index.html">Home v1</a></li>
            <li><a href="home_v2.html">Home v2</a></li>
            <li><a href="home_v3.html">Home v3</a></li>
        </ul>-->
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","GroupLists")">Groups</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Insights","Home")">Insights</a>
                                        @*<ul class="sub-menu">
                                        <li><a href="about.html">About us</a></li>
                                        <li><a href="team.html">Our Team</a></li>
                                        <li><a href="event.html">Event</a></li>
                                        <li><a href="single_event.html">Event Details</a></li>
                                    </ul>*@
                                                            </li>
                                                            <!--<li><a href="#">News</a>
                                <ul class="sub-menu">
                                    <li><a href="blog.html">News</a></li>
                                    <li><a href="single_blog.html">News Details</a></li>
                                </ul>
                            </li>-->
                                    <li><a href="@Url.Action("About","Home")">About us</a></li>
                                    @*<li class="search"><a href="#" class="search_btn"><i class="fas fa-search"></i></a></li>*@
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mobile_wrapper -->
            <div class="mobile_wrapper">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-6">
                        <div class="brand_logo">
                            <a href="index.html"><img src="/assets/images/logo_mental_1.png" class="img-fluid" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-6">
                        <div class="mobile_menu">
                            <ul>
                                <li><a href="#" class="menu_icon"><i class="fas fa-bars"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="sidenav_menu">
                    <div class="close_icon">
                        <a href="#" class="close_btn"><i class="fas fa-times"></i></a>
                    </div>
                    <ul class="sidebar-menu">
                        <li>
                            <a href="@Url.Action("Index","Home")">Home</a>
                            <!--<ul class="sub-menu">
            <li><a href="index.html">Home v1</a></li>
            <li><a href="home_v2.html">Home v2</a></li>
            <li><a href="home_v3.html">Home v3</a></li>
        </ul>-->
                        </li>
                        <li>
                            <a href="@Url.Action("Index","GroupLists")">Groups</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Insights","Home")">Insights</a>
                            @*<ul class="sub-menu">
                <li><a href="about.html">About us</a></li>
                <li><a href="team.html">Our Team</a></li>
                <li><a href="event.html">Event</a></li>
                <li><a href="single_event.html">Event Details</a></li>
            </ul>*@
                        </li>
                        <li>
                            <a href="@Url.Action("About","Home")">About us</a>
                        @*<ul class="sub-menu">
            <li><a href="blog.html">News</a></li>
            <li><a href="single_blog.html">News Details</a></li>
        </ul>*@
                        </li>
                        <!--<li><a href="contact.html">Contact</a></li>-->
                    </ul>
                </div>
            </div><!-- mobile_wrapper -->
        </div>
    </header>
    <!-- End Header area -->
<div>
    @RenderBody()
    <hr />
    <footer class="domar_footer footer_v1 bg_image" style="background-image: url(/assets/images/footer_bg1.jpg);">
            <div class="bg_overlay"></div>
            <div class="container">
                <div class="footer_widget_wrapper">
                    <div class="row align-content-around">
                        <div class="col-lg-4">
                            <div class="widget_box contact_box">
                                <div class="widget_title">
                                    <h4>Meet Peeps!</h4>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-lg-6">
                                        <div class="contact_wrapper">
                                            <div class="site_logo">
                                                <a href="@Url.Action("Index","Home")"><img src="/assets/images/logo_mental_1.png" alt=""></a>
                                            </div>
                                            <div class="single_contact">
                                                    <p class="text-left" style="color:aliceblue">We create a colourful world for everyone</p>
                                            </div>
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="widget_box">
                                <div class="widget_title">
                                    <h4>Quick Links</h4>
                                </div>
                                <ul class="widget_link">
                                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                                    <li><a href="@Url.Action("Index","GroupLists")">Groups</a></li>
                                    <li><a href="@Url.Action("Insights","Home")">Insights</a></li>
                                    <li><a href="@Url.Action("About","Home")">About Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="widget_box">
                                <div class="widget_title">
                                    <h4>Contact Us</h4>
                                </div>
                                <div class="single_contact">
                                    <a class="text-left" style="color:aliceblue" href="mailto:mentalgrocery@gmail.com">mentalgrocery@gmail.com</a>
                                </div>
                            </div>
                        </div>
                       @* <div class="col-lg-3">
                            <div class="widget_box">
                                <div class="widget_title">
                                    <h4>Active Date</h4>
                                </div>
                                <div class="time_slide">
                                    <div class="single_time">
                                        <ul>
                                            <li>Monday <span>10:00 – 11:00</span></li>
                                            <li>Tusday <span>11:00 – 11:40</span></li>
                                            <li>Wedesday <span>8:00 – 9:40</span></li>
                                            <li>Thursday <span>7:50 – 8:40</span></li>
                                        </ul>
                                    </div>
                                    <div class="single_time">
                                        <ul>
                                            <li>Monday <span>10:00 – 11:00</span></li>
                                            <li>Tusday <span>11:00 – 11:40</span></li>
                                            <li>Wedesday <span>8:00 – 9:40</span></li>
                                            <li>Thursday <span>7:50 – 8:40</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
                <div class="footer_copyright">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="copyright_text">
                                <p>Copyright &copy; 2021.&nbsp;&nbsp;MentalGrocery All rights reserved.</p>
                            </div>
                        </div>
                        <!--<div class="col-lg-6">
                            <div class="copyright_link">
                                <ul>
                                    <li><a href="@Url.Action("About","Index")">About us</a></li>-->
                                    @*<li><a href="#">Service</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Contact Us</a></li>*@
                                <!--</ul>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
                </div>
        </footer>
</div>
<!-- End domar_footer section -->
<!-- scroll_top -->
<a id="scroll_top"><i class="fas fa-angle-up"></i></a>
<!-- jquery  -->
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<!--modernizr js-->
<script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<!-- bootstrap js -->
<script src="/assets/plugin/bootstrap/js/bootstrap.min.js"></script>
<!-- Popper js -->
<script src="/assets/plugin/bootstrap/js/popper.min.js"></script>
<!-- slick slider js -->
<script src="/assets/plugin/slick/slick.min.js"></script>
<!-- magnific popup js -->
<script src="/assets/plugin/magnific/jquery.magnific-popup.min.js"></script>
<!-- countdown js -->
<script src="/assets/plugin/countdown/jquery.countdown.min.js"></script>
<!-- jquery ui js -->
<script src="/assets/plugin/jquery_ui/jquery-ui.min.js"></script>
<!-- nice_select js -->
<script src="/assets/plugin/nice_select/jquery.nice-select.min.js"></script>
<!-- sidebar_menu js -->
<script src="/assets/plugin/sidebar_menu/sidebar-menu.js"></script>
<!-- main js -->
<script src="/assets/js/main.js"></script>
@RenderSection("scripts", required: false)
</body>
</html>
