@model mentalgrocery.Models.WalkingList

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>WalkingList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.groupId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.groupId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.waName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.waName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.waAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.waAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.waSuburb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.waSuburb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.waPostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.waPostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.waState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.waState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.waLGA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.waLGA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.waRegion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.waRegion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.waPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.waPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.waEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.waEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.waWeb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.waWeb)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.waId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
