@model mentalgrocery.Models.MartialArtsList

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Start domar_breadcrumb section -->
<section class="domar_breadcrumb bg_image" style="background-image: url(/assets/images/ma2.jpg);">
    <div class="bg_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_content text-center">
                    <h2>@Html.DisplayFor(model => model.maName)</h2>
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="active"><a href="@Url.Action("Index","MartialArtsLists")">Martial Arts Groups</a></li>
                        <li class="active">@Html.DisplayFor(model => model.maName)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!-- End domar_breadcrumb section -->


<section class="domar_contact contact_v1 section_padding">
    <div class="container">
        <div class="row"  style="margin-bottom:20px">
            <div class="col-lg-12" align="center">
                @if (Model.maEmbedLink != "null")
                {
                    <iframe src="@Html.DisplayFor(model=>model.maEmbedLink)" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                }
                else
                {
                    <h2>Sorry, we cannot find the location for you, you can try to contact this group.</h2>
                }
            </div>
        </div>
        <div class="contact_form">
            <div class="row">
                <div class="col-lg-6">
                    <table class="table table-bordered">
                        <th>Group Name</th>
                        <tr>
                            <td>@Html.DisplayFor(model => model.maName)</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6">
                    <table class="table table-bordered">
                        <th>Suburb</th>
                        <tr>
                            <td>@Html.DisplayFor(model => model.maSuburb)</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6">
                    <table class="table table-bordered">
                        <th>Postcode</th>
                        <tr>
                            <td>@Html.DisplayFor(model => model.maPostCode)</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6">
                    <table class="table table-bordered">
                        <th>Address</th>
                        <tr>
                            <td>@Html.DisplayFor(model => model.maAddress)</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6">
                    <table class="table table-bordered">
                        <th>LGA</th>
                        <tr>
                            <td>@Html.DisplayFor(model => model.maLGA)</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6">
                    <table class="table table-bordered">
                        <th>Regeion</th>
                        <tr>
                            <td>@Html.DisplayFor(model => model.maRegion)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="domar_box text-center">
                    <div class="domar_icon">
                        <i class="fab fa-internet-explorer"></i>
                    </div>
                    <div class="domar_info">
                        <h5>Website</h5>
                        @if (Model.maWeb == "null")
                        {
                            <p>Sorry, this group has no website.</p>
                        }
                        else
                        {
                            <p>
                                @Html.DisplayFor(model => model.maWeb)
                            </p>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="domar_box text-center">
                    <div class="domar_icon">
                        <i class="fas fa-mobile-alt"></i>
                    </div>
                    <div class="domar_info">
                        <h5>Phone</h5>
                        @if (Model.maPhone == "null")
                        {
                            <p>Sorry, this group has no contact number.</p>
                        }
                        else
                        {
                            <p>
                                @Html.DisplayFor(model => model.maPhone)
                            </p>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="domar_box text-center">
                    <div class="domar_icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="domar_info">
                        <h5>Email</h5>
                        @if (Model.maEmail == "null")
                        {
                            <p>Sorry, this group has no email.</p>
                        }
                        else
                        {
                            <p>
                                @Html.DisplayFor(model => model.maEmail)
                            </p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
