@model mentalgrocery.Models.MartialArtsList

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Start domar_breadcrumb section -->
<section class="domar_breadcrumb bg_image" style="background-image: url(/assets/images/ma2.jpg);">
    <div class="bg_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_content text-center">
                    <h2>@Html.DisplayFor(model => model.maName)</h2>
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="active"><a href="@Url.Action("Index","MartialArtsLists")">Martial Arts Groups</a></li>
                        <li class="active">@Html.DisplayFor(model => model.maName)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!-- End domar_breadcrumb section -->


<section class="domar_contact contact_v1 section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" align="center">
                @if (Model.maEmbedLink != "null")
                {
                    <iframe src="@Html.DisplayFor(model=>model.maEmbedLink)" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                }
                else
                {
                    <h2>Sorry, we cannot find the location for you, you can try to contact this group.</h2>
                }
            </div>
        </div>
        <div class="contact_form">
            <form>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form_group">
                            <p>Group Name</p>
                            <input type="text" class="form_control" value="@Html.DisplayFor(model => model.maName)" name="maName" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form_group">
                            <p>Suburb</p>
                            <input type="text" class="form_control" value="@Html.DisplayFor(model => model.maSuburb)" name="maSuburb" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form_group">
                            <p>Postcode</p>
                            <input type="text" class="form_control" value="@Html.DisplayFor(model => model.maPostCode)" name="maPostCode" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form_group">
                            <p>State</p>
                            <input type="text" class="form_control" value="@Html.DisplayFor(model => model.maState)" name="maState" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form_group">
                            <p>LGA</p>
                            <input type="text" class="form_control" value="@Html.DisplayFor(model => model.maLGA)" name="maLGA" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form_group">
                            <p>Region</p>
                            <input type="text" class="form_control" value="@Html.DisplayFor(model => model.maRegion)" name="maRegion" readonly>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="domar_box text-center">
                    <div class="domar_icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="domar_info">
                        <h5>address</h5>
                        <p>
                            @Html.DisplayFor(model => model.maAddress)
                            <br>
                            @Html.DisplayFor(model => model.maSuburb)
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="domar_box text-center">
                    <div class="domar_icon">
                        <i class="fas fa-mobile-alt"></i>
                    </div>
                    <div class="domar_info">
                        <h5>Phone</h5>
                        <p>
                            @Html.DisplayFor(model => model.maPhone)
                            <br /> &nbsp;
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="domar_box text-center">
                    <div class="domar_icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="domar_info">
                        <h5>Email</h5>
                        <p>
                            @Html.DisplayFor(model => model.maEmail)
                            <br />&nbsp;
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
