@model mentalgrocery.Models.VolunteeringList

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start domar_breadcrumb section -->
<section class="domar_breadcrumb bg_image" style="background-image: url(/assets/images/vo2.jpg);">
    <div class="bg_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_content text-center">
                    <h2>@Html.DisplayFor(model => model.voName)</h2>
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="active"><a href="@Url.Action("Index","VolunteeringLists")">Volunteering Groups</a></li>
                        <li class="active">@Html.DisplayFor(model => model.voName)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!-- End domar_breadcrumb section -->

<section class="domar_contact contact_v1 section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" align="center">
                @if (Model.voEmbedLink != "null")
                {
                    <iframe src="@Html.DisplayFor(model=>model.voEmbedLink)" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                }
                else
                {
                    <h2>Sorry, we cannot find the location for you, you can try to contact this group.</h2>
                }
            </div>
        </div>
        <div class="contact_form">
            <form>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form_group">
                            <p>Group Name</p>
                            <input type="text" class="form_control" value="@Html.DisplayFor(model => model.voName)" name="voName" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form_group">
                            <p>Suburb</p>
                            <input type="text" class="form_control" value="@Html.DisplayFor(model => model.voSuburb)" name="voSuburb" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form_group">
                            <p>Postcode</p>
                            <input type="text" class="form_control" value="@Html.DisplayFor(model => model.vpPostCode)" name="vpPostCode" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form_group">
                            <p>State</p>
                            <input type="text" class="form_control" value="@Html.DisplayFor(model => model.vpState)" name="vpState" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form_group">
                            <p>LGA</p>
                            <input type="text" class="form_control" value="@Html.DisplayFor(model => model.voLGA)" name="voLGA" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form_group">
                            <p>Region</p>
                            <input type="text" class="form_control" value="@Html.DisplayFor(model => model.voRegion)" name="voRegion" readonly>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="domar_box text-center">
                    <div class="domar_icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="domar_info">
                        <h5>address</h5>
                        <p>
                            @Html.DisplayFor(model => model.voAddress)
                            <br>
                            @Html.DisplayFor(model => model.voSuburb)
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="domar_box text-center">
                    <div class="domar_icon">
                        <i class="fas fa-mobile-alt"></i>
                    </div>
                    <div class="domar_info">
                        <h5>Phone</h5>
                        <p>
                            @Html.DisplayFor(model => model.voPhone)
                            <br /> &nbsp;
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="domar_box text-center">
                    <div class="domar_icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="domar_info">
                        <h5>Email</h5>
                        <p>
                            @Html.DisplayFor(model => model.voEmail)
                            <br />&nbsp;
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>