@model IEnumerable<mentalgrocery.Models.GroupList>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start domar_breadcrumb section -->
<section class="domar_breadcrumb bg_image" style="background-image: url(/assets/images/breadcrumb_bg.jpg);">
    <div class="bg_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_content text-center">
                    <h2>Groups Page</h2>
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="active">Groups</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!-- End domar_breadcrumb section -->
<!-- Start course_style_v1 section -->
<section class="course_style_v1 gray_bg section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_title text-center">
                    <h2>Explore avaliable groups</h2>
                    <p><br></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="course_box">
                    <div class="domar_img">
                        <img src="/assets/images/vo.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="domar_info">
                        <div class="post_title">
                            <h3>@Html.ActionLink("Volunteering", "Index", "VolunteeringLists")</h3>
                        </div>
                        <div class="post_meta">
                            <!--<div class="top_info">
                        <a href="#" class="author">Catagory</a>-->
                            <!--<p class="price"><span class="price">$199</span><span class="off_price">120</span></p>-->
                            <!--</div>-->
                            <div class="bottom_info">
                                <ul>
                                    <li><span>Recommendation: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="course_box">
                    <div class="domar_img">
                        <img src="/assets/images/canoe.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="domar_info">
                        <div class="post_title">
                            <h3>@Html.ActionLink("Canoes Kayakt", "Index", "CanoesKayaktsLists")</h3>
                        </div>
                        <div class="post_meta">
                            <!--<div class="top_info">
                        <a href="#" class="author">Catagory</a>-->
                            <!--<p class="price"><span class="price">$199</span><span class="off_price">120</span></p>-->
                            <!--</div>-->
                            <div class="bottom_info">
                                <ul>
                                    <li><span>Recommendation: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="course_box">
                    <div class="domar_img">
                        <img src="/assets/images/hiking.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="domar_info">
                        <div class="post_title">
                            <h3>@Html.ActionLink("Walking", "Index", "WalkingLists")</h3>
                        </div>
                        <div class="post_meta">
                            <!--<div class="top_info">
                        <a href="#" class="author">Catagory</a>-->
                            <!--<p class="price"><span class="price">$199</span><span class="off_price">120</span></p>-->
                            <!--</div>-->
                            <div class="bottom_info">
                                <ul>
                                    <li><span>Recommendation: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="course_box">
                    <div class="domar_img">
                        <img src="/assets/images/ma.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="domar_info">
                        <div class="post_title">
                            <h3>@Html.ActionLink("Martial Arts", "Index", "MartialArtsLists")</h3>
                        </div>
                        <div class="post_meta">
                            <!--<div class="top_info">
                        <a href="#" class="author">Catagory</a>-->
                            <!--<p class="price"><span class="price">$199</span><span class="off_price">120</span></p>-->
                            <!--</div>-->
                            <div class="bottom_info">
                                <ul>
                                    <li><span>Recommendation: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-lg-4 col-md-6 col-sm-12">
        <div class="course_box">
            <div class="domar_img">
                <img src="assets/images/course_4.jpg" class="img-fluid" alt="">
            </div>
            <div class="domar_info">
                <div class="post_title">
                    <h3><a href="#">The Complete Salesforce to Classic Administrator</a></h3>
                </div>
                <div class="post_meta">
                    <div class="top_info">
                        <a href="#" class="author">Jake Steven</a>
                        <p class="price"><span class="price">$199</span><span class="off_price">120</span></p>
                    </div>
                    <div class="bottom_info">
                        <ul>
                            <li class="star"></li>
                            <li class="star"></li>
                            <li class="star"></li>
                            <li class="star"></li>
                            <li class="star"></li>
                            <li class="enroll"><span>Enroll: 3</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="course_box">
            <div class="domar_img">
                <img src="assets/images/course_5.jpg" class="img-fluid" alt="">
            </div>
            <div class="domar_info">
                <div class="post_title">
                    <h3><a href="#">The Complete Salesforce to Classic Administrator</a></h3>
                </div>
                <div class="post_meta">
                    <div class="top_info">
                        <a href="#" class="author">Jake Steven</a>
                        <p class="price"><span class="price">$199</span><span class="off_price">120</span></p>
                    </div>
                    <div class="bottom_info">
                        <ul>
                            <li class="star"></li>
                            <li class="star"></li>
                            <li class="star"></li>
                            <li class="star"></li>
                            <li class="star"></li>
                            <li class="enroll"><span>Enroll: 3</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="course_box">
            <div class="domar_img">
                <img src="assets/images/course_6.jpg" class="img-fluid" alt="">
            </div>
            <div class="domar_info">
                <div class="post_title">
                    <h3><a href="#">The Complete Salesforce to Classic Administrator</a></h3>
                </div>
                <div class="post_meta">
                    <div class="top_info">
                        <a href="#" class="author">Jake Steven</a>
                        <p class="price"><span class="price">$199</span><span class="off_price">120</span></p>
                    </div>
                    <div class="bottom_info">
                        <ul>
                            <li class="star"></li>
                            <li class="star"></li>
                            <li class="star"></li>
                            <li class="star"></li>
                            <li class="star"></li>
                            <li class="enroll"><span>Enroll: 3</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
        </div>
    </div>
</section><!-- End course_style_v1 section -->
